  $whatsapp: #25d366;
  $facebook: #4267B2;
  $twitter: #1DA1F2;
  $youtube: #FF0000;
  $linkedin: #0072b1;
  $instagram: #e6683c;
  $instagram-gradient: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);