<nav id="navigation" class="navigation">
  <div class="navigation-header">
    <div class="navigation-brand-text">
      <a href="#">NAVIGATION</a>
    </div>
    <div class="navigation-button-toggler">
      <i class="hamburger-icon"></i>
    </div>
  </div>
  <div class="navigation-body">
    <div class="navigation-body-header">
      <div class="navigation-brand-text">
        <a href="#">NAVIGATION</a>
      </div>
      <span class="navigation-body-close-button">&#10005;</span>
    </div>
    <ul class="navigation-menu">
      <li class="navigation-item is-active">
        <a class="navigation-link" href="#">Home</a>
      </li>
      <li class="navigation-item">
        <a class="navigation-link" href="#">Services</a>
        <ul class="navigation-dropdown">
          <li class="navigation-dropdown-item">
            <a class="navigation-dropdown-link" href="#">Dropdown item</a>
          </li>
          <li class="navigation-dropdown-item">
            <a class="navigation-dropdown-link" href="#">Dropdown item</a>
          </li>
          <li class="navigation-dropdown-item">
            <a class="navigation-dropdown-link" href="#">Dropdown item</a>
          </li>
          <li class="navigation-dropdown-item">
            <a class="navigation-dropdown-link" href="#">Dropdown item</a>
          </li>
        </ul>
      </li>
      <li class="navigation-item">
        <a class="navigation-link" href="#">Blog</a>
      </li>
      <li class="navigation-item">
        <a class="navigation-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>