<!-- Ana Menü -->
<div class="main-nav">
  <div class="main-nav-bg"></div>
  <div class="menu-wrapper">
    <button class="nav-close">&#10006;</button>
    <nav>
      <a href="/">Ana Sayfa</a>
      <a href="/hakkimda">Hakkımda</a>
      <a href="/portfoylerim">Portföylerim</a>
      <a href="/uyelikler-temsilcilikler">Üyelikler/Temsilcilikler</a>
      <a href="/musteri-memnuniyeti">Müşteri Memnuniyeti</a>
      <a href="/haberler">Haberler</a>
      <a href="/blog">Blog</a>
      <a href="/medya">Medya</a>
      <a href="/iletisim">İletişim</a>
    </nav>
    <ul class="social-links">
      <li><a href="#" title="Hakan Ünlü Kartvizit">@@include('../../icons/person-vcard-fill.svg')</a></li>
      <li><a href="#" title="Hakan Ünlü LinkedIn">@@include('../../icons/linkedin.svg')</a></li>
      <li><a href="#" title="Hakan Ünlü Instagram">@@include('../../icons/instagram.svg')</a></li>
      <li><a href="#" title="Hakan Ünlü Youtube">@@include('../../icons/youtube.svg')</a></li>
      <li><a href="#" title="Hakan Ünlü X">@@include('../../icons/twitter-x.svg')</a></li>
    </ul>
    <div class="main-nav-footer">
      <a href="mailto:hakan.unlu@kww.com.tr">hakan.unlu@kww.com.tr</a>
      <a href="tel:+902166886688">+90 216 688 66 88</a>
      <a href="tel:+905555020000">+90 555 502 00 00</a>
    </div>
  </div>
</div>
<!-- Ana Menü Sonu -->