<!DOCTYPE html>
<html lang="tr">
@@include('./inc/_head.html')

<body>
  @@include('./inc/_header.html')
  <div class="content-grid full-width bg-light">
    <nav class="breadcrumb">
      <a href="/">@@include('../icons/house.svg')</a>
      <a href="/blog">Blog</a>
    </nav>
  </div>

  <main class="content-grid">
    <div class="blog-header">
      <img src="assets/img/portfoy-1.jpeg" alt="">
      <div class="content-grid">
        <div class="blog-tarih">17 Temmuz 2024</div>
        <h1 class="blog-title">2025 Yılında Ticari Gayrimenkul Danışmanı Olmak</h1>
      </div>
    </div>
    <div class="blog-content">
      <div class="blog-user">
        <div class="blog-user-avatar">
          <img src="assets/img/avatar.webp" alt="">
          <div class="user-name">Hakan ÜNLÜ</div>
        </div>
        <div class="blog-share">Paylaşım Linkleri</div>
      </div>
      <div class="haber-yazilar">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis minus cum pariatur dolorem consequuntur earum itaque cupiditate ullam reprehenderit iure fugit, sequi quisquam ut molestias tempore consectetur culpa. Quisquam, quasi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consectetur, animi voluptatum sequi tempora perferendis. Qui ab temporibus explicabo veritatis? Iure doloremque, voluptates excepturi mollitia dolore ad tempora dolorem corporis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis minus cum pariatur dolorem consequuntur earum itaque cupiditate ullam reprehenderit iure fugit, sequi quisquam ut molestias tempore consectetur culpa. Quisquam, quasi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consectetur, animi voluptatum sequi tempora perferendis. Qui ab temporibus explicabo veritatis? Iure doloremque, voluptates excepturi mollitia dolore ad tempora dolorem corporis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis minus cum pariatur dolorem consequuntur earum itaque cupiditate ullam reprehenderit iure fugit, sequi quisquam ut molestias tempore consectetur culpa. Quisquam, quasi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consectetur, animi voluptatum sequi tempora perferendis. Qui ab temporibus explicabo veritatis? Iure doloremque, voluptates excepturi mollitia dolore ad tempora dolorem corporis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis minus cum pariatur dolorem consequuntur earum itaque cupiditate ullam reprehenderit iure fugit, sequi quisquam ut molestias tempore consectetur culpa. Quisquam, quasi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consectetur, animi voluptatum sequi tempora perferendis. Qui ab temporibus explicabo veritatis? Iure doloremque, voluptates excepturi mollitia dolore ad tempora dolorem corporis!</p>
      </div>
    </div>


  </main>

  @@include('./inc/_footer.html')
  @@include('./inc/_main-nav.html')
</body>

</html>