<!DOCTYPE html>
<html lang="tr">
@@include('./inc/_head.html')

<body>
  @@include('./inc/_header.html')
  <div class="content-grid full-width bg-light">
    <nav class="breadcrumb">
      <a href="/">@@include('../icons/house.svg')</a>
      <a href="/blog">Blog</a>
    </nav>
  </div>

  <main class="flow content-grid">
    <section class="section">
      <div class="section-title">
        <h2>Blog</h2>
      </div>
      <div class="grid gap-5">
        <a href="/blog-detay" class="main-blog-card span-lg-6">
          <div class="main-blog-card-img">
            <img src="assets/img/portfoy-1.jpeg" alt="">
          </div>
          <div class="main-blog-card-content">
            <div class="main-blog-card-title">2025 İlk çeyrek itibarıyla gayrimenkul piyasa analizi.</div>
            <div class="main-blog-card-tarih">25 Nisan 2025</div>
            <div class="main-blog-card-link">Devamını Oku</div>
          </div>
        </a>
        <a href="/blog-detay" class="main-blog-card span-lg-6">
          <div class="main-blog-card-img">
            <img src="assets/img/portfoy-1.jpeg" alt="">
          </div>
          <div class="main-blog-card-content">
            <div class="main-blog-card-title">2025 İlk çeyrek itibarıyla gayrimenkul piyasa analizi.</div>
            <div class="main-blog-card-tarih">25 Nisan 2025</div>
            <div class="main-blog-card-link">Devamını Oku</div>
          </div>
        </a>
        <a href="/blog-detay" class="main-blog-card span-lg-6">
          <div class="main-blog-card-img">
            <img src="assets/img/portfoy-1.jpeg" alt="">
          </div>
          <div class="main-blog-card-content">
            <div class="main-blog-card-title">2025 İlk çeyrek itibarıyla gayrimenkul piyasa analizi.</div>
            <div class="main-blog-card-tarih">25 Nisan 2025</div>
            <div class="main-blog-card-link">Devamını Oku</div>
          </div>
        </a>
        <a href="/blog-detay" class="main-blog-card span-lg-6">
          <div class="main-blog-card-img">
            <img src="assets/img/portfoy-1.jpeg" alt="">
          </div>
          <div class="main-blog-card-content">
            <div class="main-blog-card-title">2025 İlk çeyrek itibarıyla gayrimenkul piyasa analizi.</div>
            <div class="main-blog-card-tarih">25 Nisan 2025</div>
            <div class="main-blog-card-link">Devamını Oku</div>
          </div>
        </a>
        <a href="/blog-detay" class="main-blog-card span-lg-6">
          <div class="main-blog-card-img">
            <img src="assets/img/portfoy-1.jpeg" alt="">
          </div>
          <div class="main-blog-card-content">
            <div class="main-blog-card-title">2025 İlk çeyrek itibarıyla gayrimenkul piyasa analizi.</div>
            <div class="main-blog-card-tarih">25 Nisan 2025</div>
            <div class="main-blog-card-link">Devamını Oku</div>
          </div>
        </a>
        <a href="/blog-detay" class="main-blog-card span-lg-6">
          <div class="main-blog-card-img">
            <img src="assets/img/portfoy-1.jpeg" alt="">
          </div>
          <div class="main-blog-card-content">
            <div class="main-blog-card-title">2025 İlk çeyrek itibarıyla gayrimenkul piyasa analizi.</div>
            <div class="main-blog-card-tarih">25 Nisan 2025</div>
            <div class="main-blog-card-link">Devamını Oku</div>
          </div>
        </a>
        <a href="/blog-detay" class="main-blog-card span-lg-6">
          <div class="main-blog-card-img">
            <img src="assets/img/portfoy-1.jpeg" alt="">
          </div>
          <div class="main-blog-card-content">
            <div class="main-blog-card-title">2025 İlk çeyrek itibarıyla gayrimenkul piyasa analizi.</div>
            <div class="main-blog-card-tarih">25 Nisan 2025</div>
            <div class="main-blog-card-link">Devamını Oku</div>
          </div>
        </a>
      </div>
    </section>
  </main>

  @@include('./inc/_footer.html')
  @@include('./inc/_main-nav.html')
</body>

</html>