<!DOCTYPE html>
<html lang="tr">
@@include('./inc/_head.html')

<body>
  @@include('./inc/_header.html')
  <div class="content-grid full-width bg-light">
    <nav class="breadcrumb">
      <a href="/">@@include('../icons/house.svg')</a>
      <a href="/galeri">Galeri</a>
    </nav>
  </div>

  <main class="flow content-grid">
    <section class="section">
      <div class="section-title">
        <h2>Galeri</h2>
      </div>

      <div class="galeri-card">
        <h3 class="galeri-title">Galeri 1</h3>
        <div class="grid">
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="galeri-card">
        <h3 class="galeri-title">Galeri 1</h3>
        <div class="grid">
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="galeri-card">
        <h3 class="galeri-title">Galeri 1</h3>
        <div class="grid">
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
          <div class="span-sm-6 span-md-4 span-lg-2">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="galeri-1"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
        </div>
      </div>
    </section>
  </main>

  @@include('./inc/_footer.html')
  @@include('./inc/_main-nav.html')
</body>

</html>