<!DOCTYPE html>
<html lang="tr">
@@include('./inc/_head.html')

<body>
  @@include('./inc/_header.html')
  <div class="content-grid full-width bg-light">
    <nav class="breadcrumb">
      <a href="/">@@include('../icons/house.svg')</a>
      <a href="/haberler">Haberler</a>
    </nav>
  </div>

  <main class="flow content-grid">
    <section class="section">
      <article class="haber-icerik">
        <div class="haber-vitrin">
          <img src="assets/img/portfoy-1.jpeg" alt="">
        </div>
        <div class="haber-detay-kutu">
          <h1>Dükkan kiralamada yeni dönem 1 Ekim'de başlıyor.</h1>
          <div class="haber-detay-kutu-footer">
            <div class="haber-detay-user">
              <img src="assets/img/avatar.webp" alt="" class="avatar">
              <div class="haber-detay-user-isim">Hakan ÜNLÜ</div>
              <div class="haber-detay-tarih">15 Şubat 2024</div>
            </div>
            <div class="haber-paylas">
              Buraya paylaşma butonları gelecek
            </div>
          </div>

        </div>
        <div class="haber-yazilar">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum dolor officiis inventore aspernatur? Recusandae magni adipisci mollitia magnam, sunt iusto repellendus <strong>blanditiis</strong> expedita quae voluptates, temporibus quam, excepturi eveniet.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum dolor officiis inventore aspernatur? Recusandae magni adipisci mollitia magnam, sunt iusto repellendus blanditiis expedita quae voluptates, temporibus quam, excepturi eveniet.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum dolor officiis inventore aspernatur? Recusandae magni adipisci mollitia magnam, sunt iusto repellendus blanditiis expedita quae voluptates, temporibus quam, excepturi eveniet.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum dolor officiis inventore aspernatur? Recusandae magni adipisci mollitia magnam, sunt iusto repellendus blanditiis expedita quae voluptates, temporibus quam, excepturi eveniet.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum dolor officiis inventore aspernatur? Recusandae magni adipisci mollitia magnam, sunt iusto repellendus blanditiis expedita quae voluptates, temporibus quam, excepturi eveniet.</p>
        </div>
        <div class="haber-resimler">
          <h3 class="mb-1">Bu habere ait resimler:</h3>
          <div class="grid">
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="gallery" class="span-lg-2 gallery-thumbnail"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="gallery" class="span-lg-2 gallery-thumbnail"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="gallery" class="span-lg-2 gallery-thumbnail"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="gallery" class="span-lg-2 gallery-thumbnail"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
            <a href="assets/img/portfoy-1.jpeg" data-fancybox="gallery" class="span-lg-2 gallery-thumbnail"><img src="assets/img/portfoy-1.jpeg" alt=""></a>
          </div>
        </div>

      </article>

    </section>
  </main>

  @@include('./inc/_footer.html')
  @@include('./inc/_main-nav.html')
</body>

</html>