<!DOCTYPE html>
<html lang="tr">
@@include('./inc/_head.html')

<body>
  @@include('./inc/_header.html')
  <div class="content-grid full-width bg-light">
    <nav class="breadcrumb">
      <a href="/">@@include('../icons/house.svg')</a>
      <a href="/hakkimda">Hakkımda</a>
    </nav>
  </div>

  <main class="flow content-grid">

    <section class="section">
      <div class="grid">
        <div class="span-lg-7">
          <article>
            <h1 class="section-baslik">Hakkımda</h1>
            <p class="body-copy">1967 Bursa doğumlu ve <strong>AÜ İktisat Fakültesi</strong> 1994 mezunuyum.</p>
            <p class="body-copy">İş hayatım <strong>satış</strong> üzerine başladı ve bugüne kadar da kesintisiz devam etti.</p>
            <p class="body-copy">İlk 15 yıl <strong>Endüstriyel Tesisler</strong> ve <strong>Sanayi Yapıları</strong> için projeler tasarlayan ve anahtar teslim iş yapan inşaat firmalarına teknik malzeme tanıtımları ve satışları yaptım.</p>
            <p class="body-copy">Devamında 10 yıl süre ile endüstriyel tesisler için <strong>çelik konstrüksiyon</strong> ile <strong>zemin</strong> ve <strong>panel kaplama</strong> uygulamaları yapan firmaların <strong>pazarlama</strong> kadrolarında yönetici olarak görev aldım.</p>
            <p class="body-copy">Yurtiçi ve yurtdışında söz konusu alanlarda bir çok projenin teknik anlaşmalarını yaptım ve süreçlerini yürüttüm.</p>
            <p class="body-copy">Sektörümde elde ettiğim <strong>Sanayi Yapıları</strong> tecrübem ile şu an ticari kişi ve kuruluşlara <strong>Ticari Arsalar, Bacalı</strong> ve <strong>Bacasız Fabrikalar, Ticari Depo</strong> ve <strong>Antrepolar, Soğuk Hava Tesisleri</strong> ve Depoları, İmalat ve Üretim Tesisleri, Plaza ve İş Merkezleri, <strong>Dükkan</strong> ve <strong>Mağazalar</strong>, <strong>Akaryakıt İstasyonları</strong> gibi ticari alanlarda danışmanlık hizmetleri vermekteyim.</p>
            <p class="body-copy">Farklı markalar altında çalışan danışmanların yer aldığı <strong>TİGADER Ticari Gayrimenkul Danışmanları ve Yatırımcıları Derneği</strong>'ne kayıtlı olup, dernekte bu amaçla kurulmuş olan <strong>Ticari Tim</strong> grubunda aktif olarak yer almakta ve diğer danışman arkadaşlarımla da <strong>ortak projeler</strong> yürütmekteyim.</p>
            <p class="body-copy">Halen <strong>Keller Williams Türkiye</strong> kadrosunda, kuruluşuna öncülük ettiğim ve yönetiminde görev aldığım <strong>KW Ticari Danışmanlar</strong> takımında ve <strong>KW Fores Ataşehir Bölge Müdürlüğü</strong> içerisinde <strong>Uluslararası Akredite Ticari Profesyonel</strong> olarak iş hayatıma devam etmekteyim.</p>
            <p class="body-copy"><strong>2023</strong> yılı itibarı ile <strong>KW Ticari Lider Danışman Konseyi</strong>' nin ve <strong>2024</strong> yılı itibarı ile de <strong>TİGADER Basın ve Halkla İlişkiler Komitesi</strong>'nin başkanlığını da yürütmekteyim.</p>
          </article>
        </div>
        <div class="span-lg-5 hakkimda-aside">
          <h2 class="text-secondary"><strong>Uzmanlık Konusu</strong></h2>
          <p>Ticari, Sanayi, Arsa</p>
          <hr>
          <h2 class="text-secondary"><strong>Uzmanlık Bölgesi</strong></h2>
          <p>İstanbul, Kocaeli, Adapazarı, Ankara, Yalova, Bursa, İzmir, Kırklareli, Tekirdağ</p>
          <hr>
          <h2 class="text-secondary"><strong>Mesleki Yeterlilik Belge No</strong></h2>
          <p>MYK NO: YB0115/17UY0333-5/00/379</p>
        </div>
      </div>

    </section>
  </main>

  @@include('./inc/_footer.html')
  @@include('./inc/_main-nav.html')
</body>

</html>