<!DOCTYPE html>
<html lang="en">
  @@include('./inc/_head.html')

  <body>
    @@include('./inc/_header.html')
    <main class="flow content-grid">
      <h1>Deneme</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur eum inventore, quae accusamus, quas totam qui consectetur modi doloribus blanditiis nisi ratione vitae, iusto perferendis iste
        possimus ea nemo laudantium.
      </p>

      <div>
        <a href="#" class="button">Buton</a>
        <a href="#" class="button button-sm">Buton</a>
        <button class="button">Buton</button>
        <button class="button button-outline-lg">Buton</button>
      </div>

      <div class="grid">
        <div class="span-1">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi maxime velit nostrum, fuga earum totam quasi ipsum ea modi voluptas architecto repudiandae repellendus minus hic porro
          doloremque dolore exercitationem odit.
        </div>
        <div class="span-2">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi maxime velit nostrum, fuga earum totam quasi ipsum ea modi voluptas architecto repudiandae repellendus minus hic porro
          doloremque dolore exercitationem odit.
        </div>
        <div class="span-3">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi maxime velit nostrum, fuga earum totam quasi ipsum ea modi voluptas architecto repudiandae repellendus minus hic porro
          doloremque dolore exercitationem odit.
        </div>
      </div>

      <div class="grid gap-3">
        <div class="span-md-1 bg-primary" style="height: 100px"></div>
        <div class="span-md-2 bg-primary" style="height: 100px"></div>
        <div class="span-md-3 bg-primary" style="height: 100px"></div>
        <div class="span-md-4 bg-primary" style="height: 100px"></div>
        <div class="span-md-5 bg-primary" style="height: 100px"></div>
        <div class="span-md-6 bg-primary" style="height: 100px"></div>
        <div class="span-md-7 bg-primary" style="height: 100px"></div>
        <div class="span-md-8 bg-primary" style="height: 100px"></div>
        <div class="span-md-9 bg-primary" style="height: 100px"></div>
        <div class="span-md-10 bg-primary" style="height: 100px"></div>
        <div class="span-md-11 bg-primary" style="height: 100px"></div>
        <div class="span-md-12 bg-primary" style="height: 100px"></div>
      </div>
    </main>

    @@include('./inc/_footer.html')
  </body>
</html>
