<!DOCTYPE html>
<html lang="tr">
@@include('./inc/_head.html')

<body>
  @@include('./inc/_header.html')
  <div class="content-grid full-width bg-light">
    <nav class="breadcrumb">
      <a href="/">@@include('../icons/house.svg')</a>
      <a href="/musteri-memnuniyeti">Müşteri Memnuniyeti</a>
    </nav>
  </div>

  <main class="flow content-grid">
    <section class="section">
      <div class="section-title">
        <h2>Müşteri Memnuniyeti</h2>
      </div>
      <div class="grid">
        <div class="main-musteri-yorum-card span-lg-12">
          <div class="main-musteri-yorum-card-body">
            <div class="main-musteri-yorum-card-title">H**** ****</div>
            <div class="main-musteri-yorum-card-yildiz">
              <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
            </div>
            <div class="main-musteri-yorum-card-text">
              Öncelikle profesyonellik anlamında daha önce rastlamadığımız ölçüde bir hizmet aldığımızı belirtmeliyim. Sürecin başlangıcında mülkün...
            </div>
          </div>
          <div class="main-musteri-yorum-card-footer">
            16.08.2020
          </div>
        </div>
        <div class="main-musteri-yorum-card span-lg-12">
          <div class="main-musteri-yorum-card-body">
            <div class="main-musteri-yorum-card-title">H**** ****</div>
            <div class="main-musteri-yorum-card-yildiz">
              <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
            </div>
            <div class="main-musteri-yorum-card-text">
              Öncelikle profesyonellik anlamında daha önce rastlamadığımız ölçüde bir hizmet aldığımızı belirtmeliyim. Sürecin başlangıcında mülkün...
            </div>
          </div>
          <div class="main-musteri-yorum-card-footer">
            16.08.2020
          </div>
        </div>
        <div class="main-musteri-yorum-card span-lg-12">
          <div class="main-musteri-yorum-card-body">
            <div class="main-musteri-yorum-card-title">H**** ****</div>
            <div class="main-musteri-yorum-card-yildiz">
              <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
            </div>
            <div class="main-musteri-yorum-card-text">
              Öncelikle profesyonellik anlamında daha önce rastlamadığımız ölçüde bir hizmet aldığımızı belirtmeliyim. Sürecin başlangıcında mülkün...
            </div>
          </div>
          <div class="main-musteri-yorum-card-footer">
            16.08.2020
          </div>
        </div>
        <div class="main-musteri-yorum-card span-lg-12">
          <div class="main-musteri-yorum-card-body">
            <div class="main-musteri-yorum-card-title">H**** ****</div>
            <div class="main-musteri-yorum-card-yildiz">
              <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
            </div>
            <div class="main-musteri-yorum-card-text">
              Öncelikle profesyonellik anlamında daha önce rastlamadığımız ölçüde bir hizmet aldığımızı belirtmeliyim. Sürecin başlangıcında mülkün...
            </div>
          </div>
          <div class="main-musteri-yorum-card-footer">
            16.08.2020
          </div>
        </div>
        <div class="main-musteri-yorum-card span-lg-12">
          <div class="main-musteri-yorum-card-body">
            <div class="main-musteri-yorum-card-title">H**** ****</div>
            <div class="main-musteri-yorum-card-yildiz">
              <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
            </div>
            <div class="main-musteri-yorum-card-text">
              Öncelikle profesyonellik anlamında daha önce rastlamadığımız ölçüde bir hizmet aldığımızı belirtmeliyim. Sürecin başlangıcında mülkün...
            </div>
          </div>
          <div class="main-musteri-yorum-card-footer">
            16.08.2020
          </div>
        </div>
        <div class="main-musteri-yorum-card span-lg-12">
          <div class="main-musteri-yorum-card-body">
            <div class="main-musteri-yorum-card-title">H**** ****</div>
            <div class="main-musteri-yorum-card-yildiz">
              <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
            </div>
            <div class="main-musteri-yorum-card-text">
              Öncelikle profesyonellik anlamında daha önce rastlamadığımız ölçüde bir hizmet aldığımızı belirtmeliyim. Sürecin başlangıcında mülkün...
            </div>
          </div>
          <div class="main-musteri-yorum-card-footer">
            16.08.2020
          </div>
        </div>
        <div class="main-musteri-yorum-card span-lg-12">
          <div class="main-musteri-yorum-card-body">
            <div class="main-musteri-yorum-card-title">H**** ****</div>
            <div class="main-musteri-yorum-card-yildiz">
              <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
            </div>
            <div class="main-musteri-yorum-card-text">
              Öncelikle profesyonellik anlamında daha önce rastlamadığımız ölçüde bir hizmet aldığımızı belirtmeliyim. Sürecin başlangıcında mülkün...
            </div>
          </div>
          <div class="main-musteri-yorum-card-footer">
            16.08.2020
          </div>
        </div>
        <div class="main-musteri-yorum-card span-lg-12">
          <div class="main-musteri-yorum-card-body">
            <div class="main-musteri-yorum-card-title">H**** ****</div>
            <div class="main-musteri-yorum-card-yildiz">
              <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
            </div>
            <div class="main-musteri-yorum-card-text">
              Öncelikle profesyonellik anlamında daha önce rastlamadığımız ölçüde bir hizmet aldığımızı belirtmeliyim. Sürecin başlangıcında mülkün...
            </div>
          </div>
          <div class="main-musteri-yorum-card-footer">
            16.08.2020
          </div>
        </div>
      </div>
    </section>
  </main>

  @@include('./inc/_footer.html')
  @@include('./inc/_main-nav.html')
</body>

</html>