<!DOCTYPE html>
<html lang="tr">
@@include('./inc/_head.html')

<body>
  @@include('./inc/_header.html')
  <div class="content-grid full-width bg-light">
    <nav class="breadcrumb">
      <a href="/">@@include('../icons/house.svg')</a>
      <a href="/hakkimda">Portföylerim</a>
      <a href="/satilik">Satılık</a>
    </nav>
  </div>

  <main class="flow content-grid">
    <!-- <img src="assets/img/portfoy-1.jpeg" class="portfoy-blur-bg-img"> -->

    <section class="section">
      <div class="grid">
        <article class="span-lg-8">
          <div class="portfoy-detay-wrapper">
            <div class="portfoy-lokasyon">Kocaeli, Gebze, Pelitli Mah</div>
            <h1 class="portfoy-detay-title">GEBZE PELİTLİ’DE SATILIK 8.319 m2 TİCARİ İMARLI ARSA.</h1>
            <div class="portfoy-detay-vitrin">
              <img src="assets/img/portfoy-1.jpeg" alt="GEBZE PELİTLİ’DE SATILIK 8.319 m2 TİCARİ İMARLI ARSA.">
              <div class="portfoy-detay-fiyat">
                <!-- <div class="fiyat-var">840.000 $</div> -->
                <div class="fiyat-yok">Fiyat için bilgi alınız</div>
              </div>

              <div class="portfoy-detay-vitrin-actions">
                <!-- <a href="">@@include('../icons/play-btn.svg') VİDEO</a> -->
                <a href="https://www.youtube.com/watch?v=hA9koffcZkA" data-fancybox="">@@include('../icons/play-btn.svg') VİDEO</a>
                <button data-fancybox-trigger="gallery">@@include('../icons/images.svg') GALERİ</button>
              </div>
              <!-- Galeri -->
              <div class="galeri-wrapper" style="display: none;">
                <a href="https://lipsum.app/id/1/1024x768" data-fancybox="gallery">
                  <img src="https://lipsum.app/id/1/100x75" />
                </a>
                <a href="https://lipsum.app/id/1/1024x768" data-fancybox="gallery">
                  <img src="https://lipsum.app/id/1/100x75" />
                </a>
                <a href="https://lipsum.app/id/1/1024x768" data-fancybox="gallery">
                  <img src="https://lipsum.app/id/1/100x75" />
                </a>
                <a href="https://lipsum.app/id/1/1024x768" data-fancybox="gallery">
                  <img src="https://lipsum.app/id/1/100x75" />
                </a>

              </div>
              <!-- Galeri -->
            </div>
            <div class="portfoy-detay-bir-bakista">
              <div class="portfoy-tipi">Satılık Ticari</div>
              <div class="portfoy-detay-bir-bakista__detaylar">
                <div class="portfoy-detay-bir-bakista__detay">Dükkan ve Mağaza</div>
                <div class="portfoy-detay-bir-bakista__detay">327 m2</div>
                <div class="portfoy-detay-bir-bakista__detay">1.0 Emsal</div>
              </div>
            </div>
            <!-- Portföy Metni -->
            <div class="portfoy-metni">

              <p>1.⁠ ⁠Konum:</p>
              <p>Aydın İli, Efeler İlçesi, Tepecik Mahallesi, Turnalı Ovası Mevkii.</p>
              <p>Merkez : 6,5 Km. </p>
              <p>İzmir Çevre Yolu : 1,5 Km.</p>
              <p> </p>
              <p>2.Ada ve Parsel Bilgisi:</p>
              <p>Ada Numarası : 204</p>
              <p>Parsel Numarası : 388</p>
              <p> </p>
              <p>3.⁠ ⁠Arsa Alanı:</p>
              <p>Arsanın Toplam Alanı: 97.867 m²</p>
              <p>(Öncesinde 25 Pafta 1.585 parsel olarak kayıtlarda görünen arsanın, 07.06.2012 tarihli ifraz işlemi sonrasında 101.493 m² üzerinden gerekli terkleri yapılmış ve yeni ada/parsel numarası ile tescil edilmiştir.)</p>
              <p> </p>
              <p>4.⁠ ⁠İmar Durumu:</p>
              <p>1/1000 ölçekli imar planında olup, Enerji Piyasası Kurumu’ nun 04.08.2011 tarihli EÜ/3344-29/1987numaralı lisansı ile Enerji Santralı yapımı için kullanım ve yapı izni alınmıştır. Ayrık nizam statüsünde değerlendirilmiş arsa alanının tamamı, sit alanı dışında kalmaktadır. Çevresinde korunma altında olan herhangi bir tarihi eser bulunmamaktadır. </p>
              <p> </p>
              <p>Yapılaşma şartlarında emsal 1,00 ve h:12,50 m. olarak belirlenmiş olup, yapılacak tesisin kule, baca, filtre vb. yükseklikleri sanayi işletmesinin gerekliliğine göre serbest bırakılmıştır. </p>
              <p>Yapıların yaklaşma mesafeleri 500 m. ile düzenlenecek ve korunacaktır.</p>
              <p>Yola olan cephesinden emsal dışı kapalı çıkma alanları yapılabilecektir.</p>
              <p> </p>
              <p>5.⁠ ⁠Altyapı:</p>
              <p>Hali hazırda yolu açık olup, su, elektrik, doğal gaz, kanalizasyon gibi altyapı hizmetleri, arsa üzerine yapı inşa edecek olan kurum/kişi tarafından karşılanacaktır. </p>
              <p> </p>
              <p>6.⁠ ⁠Potansiyel Kullanım Alanı:</p>
              <p>Enerji Santralleri yapımında kullanılabilir. (Çevre ve Şehircilik Müdürlüğü’ nün 05.01.2012 tarihli Jeolojik Etüd Raporu’ nda belirtilen hususlara uymak şartı ile.)</p>
              <p>Cins tahsisi yapılarak vasfı değiştirilmeden başka bir amaçla kullanılamaz.</p>
              <p> </p>
              <p>7.⁠ ⁠Tapu ve Hukuki Durum:</p>
              <p>Müstakil tapulu. </p>
              <p>Tek kişi üzerine kayıtlı. </p>
              <p>Üzerinde herhangi bir ipotek, haciz veya kısıtlama bulunmamaktadır. </p>
              <p> </p>
              <p>GENEL AÇIKLAMALAR:</p>
              <p>Yukarıda 7 ana başlıkta detayları paylaşılmış arsanın bölgede emsali bulunmamakta olup, son derece kıymetli niteliktedir.</p>
              <p>Unutulmamalıdır ki bu arsa dahil mevcutta bulunan tüm arsalar, hiçbir şekilde üretilemeyen bir taşınmaz mülk olup, her coğrafyada sınırlı sayıda bulunmaktadır.! </p>
              <p>Dolayısı ile bu arsa da bugün var olsa bile, belki de yarın satışta olmayacaktır.!</p>
              <p>Böylesine değerli bir arsaya sahip olabilmek veya hakkında daha detaylı bilgi edinmek için irtibata geçebilirsiniz…</p>
              <p>***Bu ticari mülkün tüm satış hakları tek yetkili olarak KELLER WİLLİAMS / FORES ATAŞEHİR ofisimize ait olup, etik ve mesleki kurallara uygun çalışan tüm gayrimenkul danışmanları ile ortak iş birlikteliklerine ve paylaşımlara açıktır. </p>
              <p>***Gayrimenkul Danışmanlarının sözleşme kullanmaları T.S.11816 standartlarının 1.1.1 maddesi gereği zorunlu kılınmıştır. Bu nedenle gayrimenkul sunumlarımız "Yer Gösterme Formu" imzalatılarak yapılmaktadır.</p>
              <p>***Tek yetkili olarak tarafımızdan talep edilecek yer gösterimleri, yalnızca şirket yetkililerine ve şirketin SGK kayıtlarında yer alan çalışanlarına yapılmaktadır.</p>
              <p>***Mülkü değerlendirmek/satın almak amacıyla yerinde görmek ve doğru bilgilendirilmek isteyen kişilerin, çalıştığı şirketin kurumsal uzantılı e-posta hesapları üzerinden yer görme taleplerini iletmesi ve tarafımızca yapılacak sunum için randevu oluşturmaları gerekmektedir.</p>

            </div>
            <button class="btn-show-more">Daha Fazla...</button>

            <!-- Portföy Metni Sonu -->
          </div>
        </article>
        <div class="span-lg-4">
          <aside class="portfoy-detay-aside">
            <div class="portfoy-detay-aside-user">
              <img src="assets/img/avatar.webp" alt="Hakan Ünlü">
              <div>
                <div class="portfoy-detay-aside-user__name">Hakan ÜNLÜ</div>
                <div class="portfoy-detay-aside-user__tel"><a href="tel:+905555020000">+90 (555) 502 00 00</a></div>
              </div>
            </div>
          </aside>
        </div>
      </div>

    </section>
  </main>

  @@include('./inc/_footer.html')
  @@include('./inc/_main-nav.html')
</body>

</html>