<!DOCTYPE html>
<html lang="tr">
@@include('./inc/_head.html')

<body>
  @@include('./inc/_header.html')
  <div class="content-grid full-width bg-light">
    <nav class="breadcrumb">
      <a href="/">@@include('../icons/house.svg')</a>
      <a href="/hakkimda">Portföylerim</a>
      <a href="/satilik">Satılık</a>
    </nav>
  </div>

  <main class="flow content-grid">

    <section class="section">
      <div class="section-title">
        <h2>Portföyler</h2>
        <div class="section-title-action">
          <a href="#" class="badge-link active">SATILIK</a>
          <a href="#" class="badge-link">KİRALIK</a>
          <a href="#" class="badge-link">DEVREN</a>
        </div>
      </div>
      <div class="grid">
        <div class="span-lg-4">
          <a href="/portfoy-detay" class="portfoy-card">
            <div class="portfoy-card-header">
              <div class="badge">Satılık Arsa</div>
              <img src="assets/img/portfoy-1.jpeg" alt="">
            </div>
            <div class="portfoy-card-body">
              <div class="portfoy-card-lokasyon">Kocaeli, Gebze, Pelitli Mah.</div>
              <div class="portfoy-card-title">GEBZE PELİTLİ’ DE SATILIK 8.319 m2 TİCARİ İMARLI ARSA</div>
              <div class="portfoy-card-fiyat">Fiyat için bilgi alınız</div>
            </div>
          </a>
        </div>
        <div class="span-lg-4">
          <a href="/portfoy-detay" class="portfoy-card">
            <div class="portfoy-card-header">
              <div class="badge">Satılık Arsa</div>
              <img src="assets/img/portfoy-1.jpeg" alt="">
            </div>
            <div class="portfoy-card-body">
              <div class="portfoy-card-lokasyon">Kocaeli, Gebze, Pelitli Mah.</div>
              <div class="portfoy-card-title">GEBZE PELİTLİ’ DE SATILIK 8.319 m2 TİCARİ İMARLI ARSA</div>
              <div class="portfoy-card-fiyat">Fiyat için bilgi alınız</div>
            </div>
          </a>
        </div>
        <div class="span-lg-4">
          <a href="/portfoy-detay" class="portfoy-card">
            <div class="portfoy-card-header">
              <div class="badge">Satılık Arsa</div>
              <img src="assets/img/portfoy-1.jpeg" alt="">
            </div>
            <div class="portfoy-card-body">
              <div class="portfoy-card-lokasyon">Kocaeli, Gebze, Pelitli Mah.</div>
              <div class="portfoy-card-title">GEBZE PELİTLİ’ DE SATILIK 8.319 m2 TİCARİ İMARLI ARSA</div>
              <div class="portfoy-card-fiyat">Fiyat için bilgi alınız</div>
            </div>
          </a>
        </div>
      </div>

    </section>
  </main>

  @@include('./inc/_footer.html')
  @@include('./inc/_main-nav.html')
</body>

</html>