<div class="dropdown">
  <button class="dropdown-toggle">Select an option</button>
  <ul class="dropdown-menu">
    <li><a href="#">Option 1</a></li>
    <li><a href="#">Option 2</a></li>
    <li><a href="#">Option 3</a></li>
  </ul>
</div>

<!-- Dropdown with Hover-to-Open functionality -->
<div class="dropdown hover toggle-icon">
  <button class="dropdown-toggle">Select an option</button>
  <ul class="dropdown-menu">
    <li><a href="#">Option 1</a></li>
    <li><a href="#">Option 2</a></li>
    <li><a href="#">Option 3</a></li>
  </ul>
</div>

<!-- Dropdown Element (with toggle icon) -->
<div class="dropdown toggle-icon">
  <button class="dropdown-toggle">Select an option</button>
  <ul class="dropdown-menu">
    <li><a href="#">Option 1</a></li>
    <li><a href="#">Option 2</a></li>
    <li><a href="#">Option 3</a></li>
  </ul>
</div>