<div class="flex-carousel">
  <div class="flex-carousel-item">
    <img src="https://dummyimage.com/600x400/000/fff" alt="" />
  </div>
  <div class="flex-carousel-item">
    <img src="https://dummyimage.com/600x400/000/fff" alt="" />
  </div>
  <div class="flex-carousel-item">
    <img src="https://dummyimage.com/600x400/000/fff" alt="" />
  </div>
  <div class="flex-carousel-item">
    <img src="https://dummyimage.com/600x400/000/fff" alt="" />
  </div>
  <div class="flex-carousel-item">
    <img src="https://dummyimage.com/600x400/000/fff" alt="" />
  </div>
  <div class="flex-carousel-item">
    <img src="https://dummyimage.com/600x400/000/fff" alt="" />
  </div>
  <div class="flex-carousel-item">
    <img src="https://dummyimage.com/600x400/000/fff" alt="" />
  </div>
  <div class="flex-carousel-item">
    <img src="https://dummyimage.com/600x400/000/fff" alt="" />
  </div>
  <div class="flex-carousel-item">
    <img src="https://dummyimage.com/600x400/000/fff" alt="" />
  </div>
  <div class="flex-carousel-item">
    <img src="https://dummyimage.com/600x400/000/fff" alt="" />
  </div>
  <div class="flex-carousel-item">
    <img src="https://dummyimage.com/600x400/000/fff" alt="" />
  </div>
  <div class="flex-carousel-item">
    <img src="https://dummyimage.com/600x400/000/fff" alt="" />
  </div>
</div>
